<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>mxtty</string>
  <key>CFBundleIconFile</key>
  <string>mxtty</string>
  <key>NSFileAccessUsageDescription</key>
  <string>App requires access to external executables.</string>
  <key>NSAppleEventsUsageDescription</key>
  <string>App needs to send Apple events to interact with the terminal.</string>
</dict>
</plist>
